@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&display=swap');

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

html, body {
  margin: 0;
  background-color: var(--bgcolor);
}

:root {
  --orange: #f37908;
  --white: #fffefe;
  --black: #03002C;
  --silver:#C0C0C0;
  --gold:#d4af37;
  --bgcolor: #161616;
  --bgcolor2: rgba(133, 130, 130, 0.137);
  --bgcolor3: #fcd9672a;
}

.bg-bgcolor2 {
  background-color: var(--white);
}

.row {
  justify-content: center;
  
}


/* HEADER CONTENT */
.header-content .imghead {
  height: 20vh;
}


/* NAV BAR */
.navbar {
  background-color: var(--bgcolor);
  padding: 0;
  margin: 0;
}

.navbar img {
  height: 35px;
}

.nav li a {
  color: var(--white);
  margin: auto 5px;
  font-size: clamp(1.25rem, 0.7292rem + 0.8333vw, 1.5625rem);
  font-weight: 500;
}

button i {
  color: var(--orange);
  font-size: 30px;
}

.navbar-toggler {
  color: #F5841A;
}

ul li a:hover {
background-color: var(--orange);
}

.nav-link {
  text-align: end;
  padding-right: 10px;
}


/* ABOUT US */
.hero-content {
  text-align: center;
  margin-bottom: 20px;
}
.col-hero img {
  height: 100%;
  width: 100%;
 
}

.col-hero h1 {
  font-size: clamp(1.5rem, 0.55rem + 4.75vw, 6.25rem);
  font-weight: 600;
}

.col-hero h4 {
  padding: 20px;
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}

.col-hero a {
  color: var(--white);
  border: 1px solid var(--orange);
  font-size: clamp(1rem, 0.2969rem + 2.25vw, 1.5625rem);
}

.col-hero a:hover {
  color: var(--white);
  border: 1px solid var(--orange);
  background-color: var(--orange);
}


/* SERVICES */
.service-label {
  font-size: clamp(2.5rem, 0.9375rem + 5vw, 3.75rem);
  font-weight: 600;
  color: var(--bgcolor);
  text-shadow: 1px 2px var(--orange);
  padding: 20px 0 10px 0;
  text-align: center;
}

.card-con {
  padding: 10px;
}

.card { 
  border: 3px solid var(--orange);
  height: 500px;
  position: relative;
  background-color: var(--bgcolor);
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--bgcolor);
}

.card img {
  border-radius: 20px 20px 0 0;
}

.card-body h3 {
  font-weight: 600;
  color: var(--white);
}

.card-body p {
  font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
}

.card-body a {
  background-color: var(--orange);
  color: var(--white);
}

.card-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.card-body a:hover {
  background-color: var(--bgcolor);
  border-color: var(--orange);
  color: var(--white);
}


/* PACKAGE */
.package-label {
  font-size: clamp(2.5rem, 0.9375rem + 5vw, 3.75rem);
  font-weight: 600;
  text-shadow: 1px 2px var(--orange);
  padding: 20px 0 10px 0;
  text-align: center;
}

.package-con {
  text-align: center;
}

.package1, .package2 {
  height: 600px;
  position: relative;
  padding: 15px;
  margin: 10px 0;
  border-radius: 20px;
}

.package1 {
  border: 3px solid var(--gold);
  background-color: var(--bgcolor3);
}
.package2 {
  border: 3px solid var(--silver);
  background-color: var(--bgcolor2);
}

.package-body .package-less{
  color: var(--white);
  font-weight: 600;
}

.package-body p {
  color: var(--white);
  font-size: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
}

.package-body h3 {
  font-size: clamp(1rem, 0.8929rem + 0.5357vw, 1.375rem);
}

.package-button1, .package-button2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 15px;
}

.package-body a:hover {
  background-position: right center;
  color: var(--bgcolor);
  text-decoration: none;
}

.package1 img {
  height: 100px;
  width: 300px;
  padding-bottom: 20px;
}

.package2 img {
  height: 100px;
  width: 300px;
  padding-bottom: 20px;
}

.package-body h2 {
  font-size: clamp(1.5625rem, 0.3906rem + 3.75vw, 2.5rem);
  font-weight: 600;
}

.package-body h3 {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

.package-button1 a, .package-button2 a {
  width: 150px;
  font-size: 20px;
  color:var(--white);
  margin-top: 10px;
}

.package-button1 a {
  background-image: linear-gradient(to right, #D1913C 0%, #FFD194  51%, #D1913C  100%);
  transition: 0.5s;
  box-shadow: 0 0 5px #eee;
  background-size: 200% auto;
}

.package-button2 a {
  background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 5px #eee;
}



/* BLOGS */
.blogs-label {
  font-size: clamp(2.5rem, 0.9375rem + 5vw, 3.75rem);
  font-weight: 600;
  color: var(--bgcolor);
  text-shadow: 1px 2px var(--orange);
  padding: 20px 0 10px 0;
}

.blogs-row {
  color: var(--white);
  border: 3px solid var(--orange);
  background-color: var(--bgcolor);
  text-align: center;
  margin: 0 20px 20px 20px;
  box-shadow: 2px 2px 10px var(--bgcolor);
}

.blogs-con h2, .blogs-con p {
  color: var(--white);
}

.blogs-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 15px;
}

.blogs-con h2 {
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  font-weight: 600;
}

.blogs-con p {
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

.blogs-con a {
  color: var(--white);
  border-color: var(--orange);
  margin-bottom: 10px;
}

.blogs-img {
  padding: 0;
  margin: 0;
}

.blogs-con a:hover {
  background-color: var(--orange);
  border-color: var(--orange);
  color: var(--white);
}


/* Client Reviews */
.reviews-label {
  font-size: clamp(2.5rem, 0.9375rem + 5vw, 3.75rem);
  font-weight: 600;
  color: var(--bgcolor);
  text-shadow: 1px 2px var(--orange);
}

.reviews-con {
  padding: 10px;
  border: 3px solid var(--orange);
  margin: 10px;
  background-color: var(--white);
  border-radius: 20px;
  height: 320px;
  position: relative;
  box-shadow: 0px 0px 10px var(--bgcolor);
}

.reviews-con img {
  border-radius: 50%;
  width: 40%;
}

.reviews-body p, .reviews-body h4 {
  color: var(--bgcolor);
}
.reviews-body h4 {
  padding-top: 10px;
  font-size: 18px;
}

.reviews-text {
  font-style: italic;
  font-size: 16px;
}

.reviews-text2 {
  padding: 20px 0 0 0; 
  margin: 0;
}

.reviews-text2 p {
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0;
  color: var(--bgcolor);
  font-size: clamp(1rem, 0.5313rem + 1.5vw, 1.375rem);
  font-weight: 500;
}
.reviews-text2 span {
  color: var(--bgcolor);
  font-size: 16px;
}

.quotation1 i {
  color: #161616;
  font-size: 50px;
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 0 5px;
  background-color: var(--white);
}

.quotation2 i {
  color: #161616;
  font-size: 50px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  padding: 0 5px;
  background-color: var(--white);
}

/* MESSAGE */
.message-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  background-color: var(--white);
  color: var(--bgcolor);
}

.message-con span {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  color: var(--bgcolor);
}

.form-email, .form-message {
padding-bottom: .5rem;
}

.form-email label, .form-message label {
  color: var(--bgcolor);
}  

textarea {
  color: var(--bgcolor);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--orange);
}

.form-control {
  border-radius: 10px 0 0 10px;
  border: 2px solid var(--orange);
  outline: none;
 
}

.btn-message {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0 10px 10px 0;
}

.btn-message:hover {
  background-color: var(--white);
  border: 2px solid var(--orange);
  color: var(--bgcolor);
}

.form-control:focus {
  border-color: var(--orange);
  overflow: var(--bgcolor);
  box-shadow: none;
}

.form-button {
 display: flex;
}

.form-button:focus {
  border: 2px solid var(--bgcolor);
}  





/* FOOTER */
.footer-con {
  padding: 20px;
}

.footer-text h5{
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
}

.footer-text a {
  text-decoration: none;
}

.footer-text h5 img {
  height: 50px;
}

.footer-text2 h5 {
  font-size: 15px;
  font-weight: 200;
}

.footer-text2 a {
  text-decoration: none;
  color: var(--white);
}

.footer-text a :hover {
  color: var(--orange);
}

.footer-text2 h5 :hover {
  color: var(--orange);
}



@media only screen and (max-width: 768px) {

  .navbar img {
    height: 30px;
  }
  
  /* SERVICES */
  .card {
    height: auto;
    position: static;
  }

  .card-button {
    position: static;
    left: 0;
    transform: translate(0, 0);
  }

   /* PACKAGE */
  .package1, .package2 {
    position: static;
    height: auto;
  }

  .package-button1, .package-button2 {
    position: static;
    left: 0;
    transform: translate(0, 0);
  }

  /* REVIEWS */
  .reviews-con {
    height: auto;
  }
}
 



         
         


